*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 12px;*/
    font-family: Noticia-text;
    font-weight: lighter;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*color: rgba(163, 162, 151, 0.636);*/
    color: rgba(128, 128, 128, 0.892);
}

.cat_cont{
    width: 85%;
    height: 768px;  
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
}

.top_bar{
    position: fixed;
    top: 0;
    width: 100rem;
    height: 4rem;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.center_top{
    text-align: center;
    width: 35%;
}

.top_bar img{
    height: 35px;
}

.left_top{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.right_top{
    width: 30%;
    left: 0;
}


.menu_lineas{
    z-index: 4;
    cursor: pointer; 
    position: absolute;
    height: 10%;
    left: -2.5%;
}

.menu_text{
    z-index: 3;
    cursor: pointer;
    font-size: small;
    position: absolute;
    left: 0%;
}

.perfil{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 80%;
}

.bag{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 82.5%;
}

.main{
    display: flex;
    height: 40%;
}

.catalog{
    display: flex;
}

.logo{
    position: absolute;
    top: 20%;
    position: absolute;
    left: 40%;
    height: auto;
}